* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #8a2be2;
}

.btn-primary {
    background-color: #8a2be2;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #9d52e4;
}

.btn-primary>a {
    color: #FFFFFF;
    text-decoration: none;
}

/* ==== header and navigation ==== */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left 23px bottom 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 220px;
    padding-top: 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-left: 50px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

nav>ul>li:hover>a {
    background-color: #8a2be2;
    color: #FFFFFF;
    transition: .4s;

}

/* ===== navigation section  end ==== */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 38px 0 230px;

}

.welcome-text {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
}

.owner-name {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;

}

.banner img {
    height: 676px;
    width: 584px;
}

/* ==== header section end ==== */
.about-section {
    background-color: #FFF8F3;
    border-radius: 10px;
    max-width: 1140px;
    margin: 130px auto;
    padding: 130px 157px;
    text-align: center;
}

.section-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 30px;
}

.about-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-details {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* ==== about me section end ==== */

/* ==== what i do section css ==== */
.skill-section {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.skill-section-heading {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.skill-description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.skill-card {
    width: 267px;
    height: 377px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-details {
    line-height: 28px;
    color: #757575;
}

/* ==== what i do section css end ==== */

/* ==== resume section css ==== */
.resume-section {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.resume-section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    margin-bottom: 100px;

}

.resume-section-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.education-title,
.experience-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sub-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}

.ins-name,
.inc-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 20px;
}

.education-details,
.work-details {
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

/* ==== resume section end ==== */